cx-Oracle==8.3.0
Django==3.2.18
django-bootstrap4==23.1
django-composite-foreignkey==1.1.0
django-cors-headers==3.14.0
django-extensions==3.2.1
django-user-agents==0.4.0
django_debug_toolbar==3.8.1
djangorestframework==3.11.2
drf-yasg==1.21.5
gunicorn==20.1.0
sqlparse==0.4.3